body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.background-img {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: #2e7d32 !important;
}

.fun-font {
  font-family: 'Cinzel Decorative', cursive !important;
}

.welcome {
  background-color: rgba(63, 63, 63, 0.4);
}

.center {
  text-align: center;
  margin: 11%;
}

.title {
  text-shadow: 1px 1px #252525;
  font-size: 4em;
}

.subtitle {
  text-shadow: 1px 1px #252525;
  font-size: 2em;
}

.subheader {
  font-size: 1.5em;
}

.white-text {
  color: rgb(255, 255, 255) !important;
}

.vintage-list {
  width: 80% !important;
  height: 80vh;
  margin: 2.5% 10% !important;
  padding: 30px !important;
  overflow: scroll !important;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.flexbox p {
  width: 90%;
}

.favorite {
  margin: 10px !important;
  width: 10% !important;
}

.relative {
  position: relative;
}

.dropdown {
  width: 25% !important;
}
