body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.white-text {
  color: rgb(255, 255, 255) !important;
}

.vintage-list {
  width: 80% !important;
  margin: 3% 10% !important;
  padding: 10px !important;
}

.dropdown {
  width: 25% !important;
}
