body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.background-img {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.white-text {
  color: rgb(255, 255, 255) !important;
}

.vintage-list {
  /* position: absolute; */
  width: 80% !important;
  margin: 3% 10% !important;
  padding: 30px !important;
}

.relative {
  position: relative;
}

.dropdown {
  width: 25% !important;
}
