#app {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url('./img/wine-country.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.paper-overlay {
  width: 80%;
  margin: 80px 10% 40px 10%;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.subtitle {
  font-size: 2em;
}

.title {
  font-size: 4em;
  margin: 0 !important;
  font-family: 'Cinzel Decorative', cursive;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-shadow: 1px 1px #252525;
}

.white-text {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}
